# Core LangChain
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-community

# Vector DB
faiss-cpu

# Embeddings
sentence-transformers

# Document loaders
pypdf
python-docx
docx2txt

# LLM provider
google-generativeai

# Utilities
python-dotenv
pymysql
rich
dotenv
pymysql
flask
